{% extends 'base.html.twig' %}
{% block title %}Home {% endblock %}

{% block body %} 
    <h2>Home </h2>
        <p class="text-primary">{{info}}</p>
        <p class="text-danger">{{error}}</p>
     <h4> Bienvenidos..</h4>
     
<div class="row justify-content-center">

    <div class="col-sm-12" id="homeExample" >
    
    </div>
    <p>NOTA: en todo momento se podra cancelar la tesina informado el motivo de la misma </p>
</div>


<script type='text/javascript'>
Highcharts.chart('homeExample', {
    chart: {
        type: 'timeline'
    },
    xAxis: {
        visible: false
    },
    yAxis: {
        visible: false
    },
    title: {
        text: 'Guia de Estados de Una Tesina'
    },
    subtitle: {
        text: 'estados'
    },
    colors: [
        '#41f3cf',
        '#427CDD',
        '#406AB2',
        '#3E5A8E',
        '#41f39a'
    ],
    series: [{
        data: [{
            name: 'propuesta incial',
            label: 'entrega de form1 y la propuesta incial',
            description: "la propuesta debe ser aceptada por el personal administrativo, quien le asignara una mesa de evaluadores para pasar al siguiente estado, en caso de ser rechazado se le informara el motivo para una re entrega "
        }, {
            name: 'tesina inicial',
            label: 'propuesta inicial aceptada',
            description: 'una bez aceptada la tesina el tiempo corre para que realize la entrega del inf de avance para pasar al siguiente estado, el informe debe ser entregado al personal administrativo'
        }, {
            name: 'infAvance entregado',
            label: 'infAvance aceptado',
            description: 'tras el inf de avance se cordinara una fecha para la exposicion de la tesina'
        }, {
            name: 'para exponer',
            label: 'fecha de exposicion elegida',
            description: 'una vez concluida la exposicion los evaluadores le asignaran una nota, y la tesina estara conluida'
        }, {
            name: 'tesina finalizada',
            label: '',
            description: 'tesina conluida con nota'
        }]
    }]
});

</script>


{% endblock %}
       