<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> #}
  <link rel="stylesheet" href="templates/css/bootstrap.min.css" >
  

    <!-- -Data Table CSS-->
    {# <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css"> #}
    <link rel="stylesheet" type="text/css" href="templates/css/jquery.dataTables.css" >
    

   <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {# <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> #}
    <script type="text/javascript" src="templates/js/jquery-3.4.1.min.js" ></script>
    <script type="text/javascript" src="templates/js/popper.min.js" ></script>
    <script type="text/javascript" src="templates/js/bootstrap.min.js" ></script>


    <!-- Data Table JavaScript -->
    {# <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script> #}
    <script type="text/javascript" src="templates/js/jquery.dataTables.js" ></script>
    
    
    <!-- vue js -->  
    {# <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script> #}
    <script type="text/javascript" src="templates/js/vue.min.js" ></script>
    <script type="text/javascript" src="templates/js//axios.min.js" ></script>



    <!-- highcharts -->
    {# <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script> #}
    <script type="text/javascript" src="templates/js/highcharts.src.js" ></script>
    <script type="text/javascript" src="templates/js/exporting.js" ></script>
    <script type="text/javascript" src="templates/js/export-data.js" ></script>
    <script type="text/javascript" src="templates/js/timeline.js" ></script>



    <title>{% block title %}Test Application{% endblock %}</title>
  </head>
  <body>
    <div class="container">
        
        {% block header %}  
            {% include 'header.html' %}
        {% endblock %}
        
        {% block body %}     
        {% endblock %}
        
        {% block footer %}     
            <div class="form-group"></div>
            <div class="form-group"></div>
            <div class="form-group"></div>
        {% endblock %}

    </div>
 

    <!-- Data Table functions js -->
    <script type="text/javascript" src="templates/js/dataTable.js" ></script>
    <!-- vue functions js -->
    <script type="text/javascript" src="templates/js/buscador.js" ></script>
    <!-- highCharts function js -->
    <script type="text/javascript" src="templates/js/reportesHC.js" ></script>
  
  
  </body>
</html>