
{% extends 'base.html.twig' %}
{% block title %}buscador{% endblock %}

{% block body %} 
    
<div class="container">
    <div class="row">
        <h4>Buscador de Tesinas</h4>
    </div>
    <div class="row justify-content-between">
        <div class="col-sm-5">
            <div class="row">

                <h5>Estado </h5>
                <div id="estado">
                    <select name="LeaveType" @change="onchange()" class="form-control" v-model="key">
                        <option value=""  > </option>
                        <option value="2">tesina inicial</option>
                        <option value="3">infAvance entregado</option>
                        <option value="4">para exponer</option>
                        <option value="5">tesina finalizada</option>
                    </select>
                </div>
            
            </div>
        </div>
        <div class="col-sm-5">
            <div class="row">
                <h5>Nro de alumno</h5>
                <div id="legajo">
                    
                    <input type="number" v-model="leg" v-on:change="checkExist($event)"  placeholder="legajo">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group"></div>
    </div>
    <div class="row">
        <div class="col" id="app" >

            <table id="table_id" class="display">
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th> Director/Codirector</th>
                        <th> Alumnos</th>
                        <th> Estado</th>
                    </tr>
                </thead>
                <tbody  >
                    <tr v-for="tesina in tesinas" >
                        
                        <td><% tesina.titulo %>  </td>
                        <td> <% tesina.directores %> </td>
                        <td> <% tesina.alumnos %></td>
                        <td> <% tesina.estado %>  </td>          
                    
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
  


{% endblock %}

