{% extends 'base.html.twig' %}

{% block title %}Tesina Form {% endblock %}


{% block body %} 
<h2>Tesina</h2>
<h5 class="text-success" >{{mensajeEstado}}</h5>

<div class="form-group">
        <form action="./?action=verTesina" method="POST">
            <input type="hidden" name="idTesis" value="{{idTesis}}">
            <input  class="btn btn-light" type="submit" value="verTesina">
        </form>
</div> 

{% endblock %}